[Unit]
Description=Adjusts the color temperature of your screen according to your surroundings
PartOf=graphical-session.target
Requisite=dbus.service
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/redshift -m wayland
Restart=always
RestartSec=5s

[Install]
WantedBy=sway-session.target
