# Google Drive filesystem FUSE
# https://github.com/harababurel/gcsf
[Unit]
Description=Google Drive FUSE
PartOf=graphical-session.target
After=local-fs.target network-online.target
Wants=local-fs.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/gcsf mount "%h/gdrive" -s 'nic.berbiche@gmail.com'
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical-session.target sway-session.target
