[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
ExecStart=%h/scripts/idle.sh

[Install]
WantedBy=sway-session.target
