[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
PartOf=graphical-session.target
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
#ExecStart=/usr/bin/spotifyd --no-daemon
ExecStart=%h/.local/bin/spotifyd --no-daemon
Restart=always
RestartSec=12

[Install]
WantedBy=sway-session.target
