* {
    border: none;
    border-radius: 0;
    font-family: Source Code Pro;
    /* font-family: Inconsolata; */
    font-weight: bold;
    color: #abb2bf;
    font-size: 18px;
    min-height: 0px;
}
window#waybar {
    background: #16191C;
    color: #aab2bf;
}
#window {
    padding: 0 0px;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #16191C;
    border: #16191C;
    padding: 0 3px;
}
#workspaces button:hover {
    padding: 0 5px;
}
#workspaces button {
    padding: 0 5px;
    color: #aab2bf;
    background-origin: border-box;
}
#workspaces button.focused {
    border-top: 2px solid @color15;
    /* color: #aab2bf; */
    color: #9aedfe;
}

#workspaces span:nth-child(2) {
    /* content: ':'; */
    color: red;
}

#mode {
    background: #000000;
    border-bottom: 2px solid @color15;
    margin: 0 10px;
}
#custom-separator {
    color: #4c566a;
}

#memory.warning,
#cpu.warning,
#battery.warning:not(.charging) {
    color: #997350;
}

#memory.critical,
#battery.critical:not(.charging),
#cpu.critical,
#temperature.critical,
#network.linked,
#network.disconnected {
    color: #A3535A;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 12px
}
