* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.6);
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspace:hover {
    border-top: transparent;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    border-top: transparent;
    border-bottom: 2px solid rgb(246, 201, 169);
}

#workspaces button.focused {
    color: rgb(246, 201, 169);
    border-bottom: 2px solid rgb(246, 201, 169);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network,
#pulseaudio, #custom-spotify, #tray, #mode,
#backlight, #idle_inhibitor {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    margin-right: 3px;
}

#pulseaudio.muted {
}

#custom-spotify {
    /* background: rgba(102, 204, 153, 0.7); */
    /* color: #202020; */
}

#tray {
    background-color: #2980b9;
}

